@charset "utf-8";

@font-face {
  font-family: YakuHanMP;
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/YakuHanMP-Medium.woff2) format('woff2'), url(/fonts/YakuHanMP-Medium.woff) format('woff');
}

@font-face {
  font-family: 'noto-serif';
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/noto-serif.woff2) format('woff2'), url(/fonts/noto-serif.woff) format('woff');
}
